<a href="https://colab.research.google.com/github/NickBaynham/A3/blob/master/neural_networks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Regression
## Regression ANN (1 feature)
## Regression ANN (2 features)

### Dataset: Used Cars

In [17]:
import pandas as pd
import requests
import io
import warnings
warnings.filterwarnings("ignore")

# Used Car Dataset
#url = 'https://www.kaggle.com/adityadesai13/used-car-dataset-ford-and-mercedes?select=audi.csv'
#used_cars = pd.read_csv(url)
#used_cars.head()

url = 'https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/usedcars.csv'
used_cars_source = requests.get(url).content
used_cars = pd.read_csv(io.StringIO(used_cars_source.decode('utf-8')), usecols = ['mileage', 'year', 'price'])
used_cars.head()

   year  price  mileage
0  2011  21992     7413
1  2011  20995    10926
2  2011  19995     7351
3  2011  17809    11613
4  2012  17500     8367

In [18]:
data = used_cars.copy()
data.shape

(150, 3)

In [19]:
# Single Feature Artificial Neural Network
mileage = data[['mileage']]
mileage.head()

   mileage
0     7413
1    10926
2     7351
3    11613
4     8367

In [30]:
# Adding the Weight to the Model
mileage['weight'] = -0.09329097
mileage.head()

   mileage    weight   bias    prediction
0     7413 -0.093291  17091  10175.340394
1    10926 -0.093291  17091   6898.028618
2     7351 -0.093291  17091  10233.180795
3    11613 -0.093291  17091   6257.119654
4     8367 -0.093291  17091   9285.344540

In [31]:
# Adding the Bias to the Model
mileage['bias'] = 17091
mileage.head()

   mileage    weight   bias    prediction
0     7413 -0.093291  17091  10175.340394
1    10926 -0.093291  17091   6898.028618
2     7351 -0.093291  17091  10233.180795
3    11613 -0.093291  17091   6257.119654
4     8367 -0.093291  17091   9285.344540

In [32]:
# Add the calcuated prediction
mileage['prediction'] = mileage['mileage'] * mileage['weight'] + mileage['bias']
mileage.head()

   mileage    weight   bias    prediction
0     7413 -0.093291  17091  16399.434039
1    10926 -0.093291  17091  16071.702862
2     7351 -0.093291  17091  16405.218080
3    11613 -0.093291  17091  16007.611965
4     8367 -0.093291  17091  16310.434454

In [33]:
# Measuring the Accuracy (Root Mean Squared Error - RMSE)
from sklearn.metrics import mean_squared_error
mean_squared_error(data['price'], mileage['prediction'], squared = False)

1841.4412082447695

In [25]:
# Two Feature Predictive Model
mileage_year = data[['mileage', 'year']]
mileage_year.head()

   mileage  year
0     7413  2011
1    10926  2011
2     7351  2011
3    11613  2011
4     8367  2012

In [26]:
# Setting the Weights
mileage_year['weight_mileage'] = -0.0448941924
mileage_year['weight_year'] = 780.345131
mileage_year.head()

   mileage  year  weight_mileage  weight_year
0     7413  2011       -0.044894   780.345131
1    10926  2011       -0.044894   780.345131
2     7351  2011       -0.044894   780.345131
3    11613  2011       -0.044894   780.345131
4     8367  2012       -0.044894   780.345131

In [27]:
# Adding the Bias
mileage_year['bias'] = -1552551
mileage_year.head()

   mileage  year  weight_mileage  weight_year     bias
0     7413  2011       -0.044894   780.345131 -1552551
1    10926  2011       -0.044894   780.345131 -1552551
2     7351  2011       -0.044894   780.345131 -1552551
3    11613  2011       -0.044894   780.345131 -1552551
4     8367  2012       -0.044894   780.345131 -1552551

In [28]:
# Add the prediction
mileage_year['prediction'] = mileage_year['mileage'] * mileage_year['weight_mileage'] + mileage_year['year'] * mileage_year['weight_year'] + mileage_year['bias']
mileage_year.head()

   mileage  year  weight_mileage  weight_year     bias    prediction
0     7413  2011       -0.044894   780.345131 -1552551  16390.257793
1    10926  2011       -0.044894   780.345131 -1552551  16232.544495
2     7351  2011       -0.044894   780.345131 -1552551  16393.041233
3    11613  2011       -0.044894   780.345131 -1552551  16201.702185
4     8367  2012       -0.044894   780.345131 -1552551  17127.773864

In [29]:
# Accuracy (Root Mean Square Error - RMSE)
mean_squared_error(data['price'], mileage_year['prediction'], squared = False)

1467.8516472626532